@font-face {
    font-family: 'TenorSans';
    font-style: normal;
    font-weight: 500;    
    src: url('/fonts/TenorSans.ttf') format('truetype'),        
}

@font-face {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 500;    
    src: url('/fonts/Forum.ttf') format('truetype'),        
}

@font-face {
    font-family: 'Biryani';
    font-style: normal;
    font-weight: 500;    
    src: url('/fonts/Biryani.ttf') format('truetype'),        
}